.bplp_title{
	color: #555555;
	font-family: 'Titillium Maps',Arial;
	font-size: 14pt;
}
.mybplp{
	padding-bottom: 20px;
	float: left;
	padding-right: 20px;
}
.bplp_element{
	width: 150px;
	padding-top: 2px;
}